<form action="/cryptids" method="POST">

    <label for="cryptidName">Name</label>
    <input id="cryptidName" type="text" name="name">
    
    <label for="imgURL">Image URL</label>
    <input id="imgURL" type="text" name="imgURL">

    <input type="submit">
    </form>